/*==================================
=            Typography            =
==================================*/



/*----------  Defaults  ----------*/

html {
	font-size: 10px;

	@include breakpoint($xx-large) { font-size: 12px; }

	@include breakpoint($xxx-large) { font-size: 13px; }

}

body {
	@include font-size(14px);
	line-height: 1.5;
}



/*----------  Headings  ----------*/

@for $i from 1 through 6 {

	h#{$i} {
		font-weight: normal;
		font-family: $headline;
		line-height: 1.2;
		margin-bottom: 1em;
	}

}


h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 4.2rem;
}

h3 {
	font-size: 3.6rem;
}

h4 {
	font-size: 2.8rem;
}

h5 {
	font-size: 2.4rem;
}

h6 {
	font-size: 1.8rem;
}



/*----------  Links  ----------*/

a {
	color: $theme-color;
	text-decoration: none;
	transition: color $time $easing;

	&:hover {
		color: darken($theme-color, 10%);
	}

}
