<!-- Home View -->
<h1>Yana</h1>
<p>Organize your life.</p>
<a href="/sign-in">Sign In</a>
<a href="/register">New Account</a>
<a href="/reset">Forgot your password?</a>
<form>
  <input type="text" placeholder="email">
  <select chosen disable-search="true">
    <option>One</option>
    <option>Two</option>
    <option>Three</option>
  </select>
  <input icheck ng-model="todo.enabled" type="checkbox">
  <input icheck ng-model="todo.number" type="radio" value="one"> One
  <input icheck ng-model="todo.number" type="radio" value="two"> Two
  <input icheck ng-model="todo.number" type="radio" value="three"> Three
</form>
