/*===============================
=            Buttons            =
===============================*/

.btn {
	outline: none;
	-webkit-appearance: none;
	background: $theme-color;
	color: $white;
	border-radius: 5px;
  border: 2px solid $theme-color;
	padding: 1rem 1.5rem;
	display: inline-block;
  transition: background-color $time $easing, border-color $time $easing;

	&:hover {
		background: darken($theme-color, 10%);
    border-color: darken($theme-color, 10%);
	}

	&.hollow {

	}

	&.active {

	}

	&.disabled {

	}

}

.btn.primary {

	&.hollow {

	}
}

.btn.secondary {

	&.hollow {

	}
}
